src/main/resources/serasa.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.experian.com.br/DataLicensing/DataLicensingService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.experian.com.br/DataLicensing/DataLicensingService/" name="DataLicensingService">
<wsp:Policy xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" wsu:Id="DataLicensingService_policy">
<sp:SignedEncryptedSupportingTokens>
<wsp:Policy>
<sp:UsernameToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
<wsp:Policy>
<sp:WssUsernameToken10></sp:WssUsernameToken10>
</wsp:Policy>
</sp:UsernameToken>
</wsp:Policy>
</sp:SignedEncryptedSupportingTokens>
<sp:TransportBinding>
<wsp:Policy>
<sp:AlgorithmSuite>
<wsp:Policy>
<sp:Basic128></sp:Basic128>
</wsp:Policy>
</sp:AlgorithmSuite>
<sp:IncludeTimestamp></sp:IncludeTimestamp>
<sp:Layout>
<wsp:Policy>
<sp:Lax></sp:Lax>
</wsp:Policy>
</sp:Layout>
<sp:TransportToken>
<wsp:Policy>
<sp:HttpsToken RequireClientCertificate="false"></sp:HttpsToken>
</wsp:Policy>
</sp:TransportToken>
</wsp:Policy>
</sp:TransportBinding>
<sp:Wss10></sp:Wss10>
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://ws.wim.omninetworking.com.br/" schemaLocation="https://sitenet.serasa.com.br:443/experian-data-licensing-ws/dataLicensingService?xsd=1"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://services.experian.com.br/DataLicensing/DataLicensingService/" schemaLocation="https://sitenet.serasa.com.br:443/experian-data-licensing-ws/dataLicensingService?xsd=2"></xsd:import>
</xsd:schema>
</types>
<message name="ConsultarPF">
<part name="parameters" element="tns:ConsultarPF"></part>
</message>
<message name="ConsultarPFResponse">
<part name="parameters" element="tns:ConsultarPFResponse"></part>
</message>
<message name="DataLicensingFault_Exception">
<part name="fault" element="tns:DataLicensingFault"></part>
</message>
<message name="ConsultarPJ">
<part name="parameters" element="tns:ConsultarPJ"></part>
</message>
<message name="ConsultarPJResponse">
<part name="parameters" element="tns:ConsultarPJResponse"></part>
</message>
<message name="RetornaStatusProconTelefone">
<part name="parameters" element="tns:RetornaStatusProconTelefone"></part>
</message>
<message name="RetornaStatusProconTelefoneResponse">
<part name="parameters" element="tns:RetornaStatusProconTelefoneResponse"></part>
</message>
<portType name="DataLicensingServicePortType">
<operation name="ConsultarPF">
<input wsam:Action="http://services.experian.com.br/DataLicensing/DataLicensingService/ConsultarPF" message="tns:ConsultarPF"></input>
<output wsam:Action="http://services.experian.com.br/DataLicensing/DataLicensingService/DataLicensingServicePortType/ConsultarPFResponse" message="tns:ConsultarPFResponse"></output>
<fault message="tns:DataLicensingFault_Exception" name="DataLicensingFault_Exception" wsam:Action="http://services.experian.com.br/DataLicensing/DataLicensingService/DataLicensingServicePortType/ConsultarPF/Fault/DataLicensingFault_Exception"></fault>
</operation>
<operation name="ConsultarPJ">
<input wsam:Action="http://services.experian.com.br/DataLicensing/DataLicensingService/ConsultarPJ" message="tns:ConsultarPJ"></input>
<output wsam:Action="http://services.experian.com.br/DataLicensing/DataLicensingService/DataLicensingServicePortType/ConsultarPJResponse" message="tns:ConsultarPJResponse"></output>
<fault message="tns:DataLicensingFault_Exception" name="DataLicensingFault_Exception" wsam:Action="http://services.experian.com.br/DataLicensing/DataLicensingService/DataLicensingServicePortType/ConsultarPJ/Fault/DataLicensingFault_Exception"></fault>
</operation>
<operation name="RetornaStatusProconTelefone">
<input wsam:Action="http://services.experian.com.br/DataLicensing/DataLicensingService/RetornaStatusProconTelefone" message="tns:RetornaStatusProconTelefone"></input>
<output wsam:Action="http://services.experian.com.br/DataLicensing/DataLicensingService/DataLicensingServicePortType/RetornaStatusProconTelefoneResponse" message="tns:RetornaStatusProconTelefoneResponse"></output>
<fault message="tns:DataLicensingFault_Exception" name="DataLicensingFault_Exception" wsam:Action="http://services.experian.com.br/DataLicensing/DataLicensingService/DataLicensingServicePortType/RetornaStatusProconTelefone/Fault/DataLicensingFault_Exception"></fault>
</operation>
</portType>
<binding name="DataLicensingServiceSOAPBinding" type="tns:DataLicensingServicePortType">
<wsp:PolicyReference URI="#DataLicensingService_policy"></wsp:PolicyReference>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="ConsultarPF">
<soap:operation soapAction="http://services.experian.com.br/DataLicensing/DataLicensingService/ConsultarPF"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DataLicensingFault_Exception">
<soap:fault name="DataLicensingFault_Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="ConsultarPJ">
<soap:operation soapAction="http://services.experian.com.br/DataLicensing/DataLicensingService/ConsultarPJ"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DataLicensingFault_Exception">
<soap:fault name="DataLicensingFault_Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="RetornaStatusProconTelefone">
<soap:operation soapAction="http://services.experian.com.br/DataLicensing/DataLicensingService/RetornaStatusProconTelefone"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DataLicensingFault_Exception">
<soap:fault name="DataLicensingFault_Exception" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="DataLicensingService">
<port name="DataLicensingServiceSOAP" binding="tns:DataLicensingServiceSOAPBinding">
<soap:address location="https://sitenet.serasa.com.br:443/experian-data-licensing-ws/dataLicensingService"></soap:address>
</port>
</service>
</definitions>